h1 {
  font-size: 30px;
  margin-bottom: 0px;
  padding-top: 12px;
  font-weight: 600;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.col-4 {
  padding-left: 0px;
}

.weather-app {
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  height: 900px;
  margin: 0 auto;
  color: red;
  padding-top: 60px;
}

.container {
  background: url("base.png");
  background-size: 900px;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 70px;
}

.city-name {
  text-align: right;
  padding-right: 0px;
}

.coded {
  text-align: center;
  font-size: 10px;
  padding-top: 290px;
}

.coded-link {
  color: lightcoral;
}

.big-icon {
  margin: 0 auto;
  max-width: 70px;
  position: relative;
  top: 5px;
}

.weather-temperature .units {
  color: red;
  position: relative;
  font-size: 15px;
  top: -7px;
  padding: 0 auto;
  text-decoration: none;
}

.numberTemp {
  font-size: 25px;
}

.searchbutton {
  color: red;
  font-size: 15px;
  background: none;
  border: none;
}

.form-control {
  color: red;
  font-size: 12px;
  background: none;
  border-color: red;
  border-radius: 0px;
  border-width: 0 0 2px 0;
  font-style: italic;
  background: none;
  width: 200px;
}

.form-control::placeholder {
  color: lightcoral;
}

.searchcityform {
  margin-left: 100px;
  margin-top: 100px;
  padding-bottom: 70px;
}

.weather-temperature .active {
  color: red;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: lightcoral;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.forecast-wrapper {
  padding-top: 40px;
}

.forecast-date {
  text-align: right;
  font-size: 15px;
  position: relative;
  top: 10px;
  padding-right: 0px;
}

.forecast-temp-min {
  text-align: left;
  font-size: 15px;
  color: lightcoral;
}

.forecast-temp-max {
  text-align: left;
  font-size: 15px;
}

.small-icon {
  margin: 0 auto;
  max-width: 70px;
  position: relative;
  top: -15px;
}
